# roles/oioproxy/tasks/main.yml
---
- name: "Include {{ ansible_distribution }} variables"
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags: install

- name: "Include {{ ansible_distribution }} tasks"
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags: install

- name: Ensure directories exists
  file:
    path: "{{ item.path }}"
    state: directory
    owner: "{{ item.owner | default('openio') }}"
    group: "{{ item.group | default('openio') }}"
    mode: "{{ item.mode | default(0755) }}"
  with_items:
    - path: "/etc/gridinit.d/{{ openio_oioproxy_namespace }}"
    - path: "{{ openio_oioproxy_sysconfig_dir }}/{{ openio_oioproxy_servicename }}"
    - path: "/etc/oio/sds/{{ openio_oioproxy_namespace }}/watch"
    - path: "/var/log/oio/sds/{{ openio_oioproxy_namespace }}/{{ openio_oioproxy_servicename }}"
      owner: "{{ syslog_user }}"
      mode: "0750"
  tags: install

- name: Generate configuration files
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: openio
    group: openio
    mode: 0644
  with_items:
    - src: "oioproxy.conf.j2"
      dest: "{{ openio_oioproxy_sysconfig_dir }}/\
        {{ openio_oioproxy_servicename }}/{{ openio_oioproxy_servicename }}.conf"
    - src: "gridinit_oioproxy.conf.j2"
      dest: "{{ openio_oioproxy_gridinit_dir }}/{{ openio_oioproxy_gridinit_file_prefix }}\
        {{ openio_oioproxy_servicename }}.conf"
    - src: "watch-oioproxy.yml.j2"
      dest: "{{ openio_oioproxy_sysconfig_dir }}/watch/{{ openio_oioproxy_servicename }}.yml"
  register: _oioproxy_conf

- name: "restart oioproxy to apply the new configuration"
  shell: |
    gridinit_cmd reload
    gridinit_cmd restart  {{ openio_oioproxy_namespace }}-{{ openio_oioproxy_servicename }}
  register: _restart_oioproxy
  when:
    - _oioproxy_conf is changed
    - not openio_oioproxy_provision_only
  tags: configure

- block:
    - name: "Ensure oioproxy is started"
      command: gridinit_cmd start {{ openio_oioproxy_namespace }}-{{ openio_oioproxy_servicename }}
      register: _start_oioproxy
      changed_when: '"Success" in _start_oioproxy.stdout'
      when:
        - not openio_oioproxy_provision_only
        - _restart_oioproxy is skipped
      tags: configure

    - name: check oioproxy
      uri:
        url: "http://{{ openio_oioproxy_bind_address }}:{{ openio_oioproxy_bind_port }}/v3.0/status"
        return_content: true
        status_code: 200
      register: _oioproxy_check
      retries: 3
      delay: 5
      until: _oioproxy_check is success
      changed_when: false
      when:
        - not openio_oioproxy_provision_only
  when: openio_bootstrap | d(false)
...
